# Ignore IDE specific configurations.
.idea
*.iml
.vscode

# Ignore custom configs but allow changes to the sample.
config/*
!config/config.sample.yml

# Ignore installed dependencies.
.bundle
bin
vendor

# Ignore import and export files.
./*.csv
./*.json
